.intro{
  display: inline-block;
  width: 300px;
  vertical-align: bottom;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.logo1{
  width: 200px;
  margin-left: 20px;
  margin-right: 25px;
}

.logo{
  display: inline-block;
  vertical-align: middle;
}

.Aboutme{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: 20px;
width: 800px;
display: block;
margin-left: 80px;
}


.Sevirces{
font-size: 15px;
}

.Abmheading{
  font-size: 25px;
}